#filter{
    position: relative;
    margin: 10px;
}

#price{
    margin: 10px 0 10px 0;
}

input {
    height: 25px;
    outline: none;
    border:1px solid rgb(197, 197, 197);
    padding: 0 3px 0 3px;
}

.price {
    width: 84px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.range {
    width:100%;
    height:8px;

    position: relative;
    border-radius: 2px;
    background-color: #ddd;
}

.range__button_1, .range__button_2 {
    position: absolute;
    top: 50%;

    width: 15px;
    height: 15px;
  
    transform: translateY(-50%);

    border: none;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
    border: #838383 1px solid;
}

.range__button_1:hover, .range__button_2:hover {
    border-color: #2dbd58;
}

.range__between
{
  position: absolute;
    height: 3px;
    width:0px;
    margin-top:2px;
    border: none;
    background-color: #2dbd58;
}