body {
    margin: 0;
}

#grid {
    display: grid;
    grid-template-areas: "header header"
                       "filter  main"
                       "footer footer"
}




/*Areas*/
#grid > header {
    grid-area: header;
    background-color: aqua;
}

#grid > filter {
    grid-area: filter;
    background-color: black;
}

#grid > main {
    grid-area: main;
    background-color:gray;
}

#grid > footer {
    grid-area: footer;
    background-color: green;
}