html, body {
    margin: 0;
    height: 100%;
    font-family: 'San Francisco Text Light';
}

.font-color-gray{
    color: gray;
}

@font-face {
    font-family: 'San Francisco Text Light';
    src: url('SFUIText-Light.eot');
    src: url('SFUIText-Light.eot?#iefix') format('embedded-opentype'),
    url('SFUIText-Light.woff') format('woff'),
    url('SFUIText-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 640px) {
    #grid {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                           "main"
                           "footer"
    }        
}

#grid {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 230px 1fr;
    grid-template-areas: "header header"
                       "filter  main"
                       "footer footer"
}


#grid > header {
    letter-spacing: 0.5px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 65px;
    /* border-bottom: 1px solid  #a7a7a7; */
}

/*Header*/

header > p {
    margin: 0;
    font-size: 21pt;
}

header > div{
    text-align: right;
    align-items: center;
}

#search{
    padding-left: 5px;
    width: 150px;
    height: 26px;
    margin-right: 10px;
}

#login{
    letter-spacing: 0px;
    font-size: 13pt;
    text-decoration:none;
}

/*Filter*/

#grid > filter {
    text-align: center;
    margin-top: 25px;
    list-style-type: none;
    text-transform: uppercase;
}

filter > li {
    margin-bottom: 4px;
}

/*Main*/

#grid > main {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.design-studio {
    /* background-color: rgb(238,238,238, 0.6); */
    height: 400px;
    text-align: center;
    margin: 15px;
    overflow: hidden;
    position: relative;
}

.design-studio > img {
    max-width: 100%;
}

.studio-name {
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(179, 179, 179, 0.7);
    text-align: center;
    font-size: 15pt;
    color: rgb(245, 245, 245);
    letter-spacing: 0.4px;
}

.studio-name > p {
    margin: 0;
}

/*Footer*/

#grid > footer {
    border-top: 1px solid #a7a7a7;
    display: grid;            /* new */
    align-items: center;   
    height: 50px;
}


/*Areas*/
#grid > header {
    grid-area: header;
}

#grid > filter {
    grid-area: filter;
}

#grid > main {
    grid-area: main;
}

#grid > footer {
    grid-area: footer;
}