.design-studio {
    /* background-color: rgb(238,238,238, 0.6); */
    max-height: 350px;
    text-align: center;
    margin: 15px;
    overflow: hidden;
    position: relative;
}

.design-studio > img {
    max-width: 100%;

}