/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    height: 100%;
    font-family: 'San Francisco Text Light';
}

@font-face {
    font-family: 'San Francisco Text Light';
    src: url('assets/fonts/SFUIText-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-color-gray{
    color: gray;
}